*{
    margin: 0;
    border: 0;
}

#blog-title {
    color: red;
    max-height: 100px;
    padding: 25px;
    width: auto;
}
#sub-heading-wrapper {
    font-size: large;
    border: solid black;
    max-height: 300px;
    padding: 40px;
    width: auto;
}
#sub-heading-heading {
    font-size: 60px;
    padding-bottom: 15px;
}