@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Edu+SA+Beginner:wght@700&family=Inconsolata:wght@300&family=Josefin+Sans&family=Kdam+Thmor+Pro&family=Noto+Sans+KR:wght@500&family=Oldenburg&family=Pacifico&family=Roboto:wght@900&family=Rubik:ital,wght@0,400;1,700&family=Secular+One&display=swap');

*{
    margin: 0;
    border: 0;
    font-family: 'Secular One', sans-serif, 'Noto Sans KR';
    background-color: #1A1a1d;
}

.blog-title-wrapper {
    display: flex;
    max-height: 8vh;
    padding: 25px;
    padding-left: 40px;
    width: auto;
    color: #C3073F;
    justify-content: space-between;
    align-items: center;
}
#link-wrapper {
  text-decoration: none;
  color: #C3073F;
}
#sub-heading-wrapper {
    font-size: large;
    max-height: 300px;
    padding: 40px;
    width: auto;
    /* background-color: #28282c; */
    box-shadow: 3px 3px 10px 3px #000000;
}
#sub-heading-heading {
    font-size: 60px;
    padding-bottom: 5px;
    color: #a80b4a;
}
#sub-heading-content {
    color: #ca4b7e;
    margin-left: 75px;
}
.blog-articles-page-wrapper{
  display: grid;
  margin-top: 25px;
  justify-content: center;
  max-width: 100%;
  /* min-height: 100vh; */
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 25px;
  column-gap: 25px;
  grid-template-columns: 33.3% 33.3% 33.3%;
  row-gap: 25px;
}
.blog-articles-wrapper {
  display: grid;
  justify-content: center;
  border: solid #ca4b7e;
  border-radius: 3px;
  align-items: center;
  color: rgb(226, 225, 225);
  height: 80vh;
  overflow: scroll;
}
#blog-article-read-more-button {
  height: 50px;
  max-height: 100px;
  max-width: 200px;
  border: solid;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: #a80b4a;
}
@keyframes hover-fade {
  0% {background-color: transparent}
  100% {background-color: rgb(223, 223, 223)}
}
#blog-article-read-more-button:hover {
  animation-name: hover-fade;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.blog-article-link-button {
  text-decoration: none;
  color:  #C3073F;
}
#blog-content-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 90vh;
}
#individualPost-page-wrapper {
  height: 100vh;
  width: auto;
}
#post-header {
  display: flex;
  justify-content: space-between;
}
#home-icon {
  height: 50px;
  max-height: 94px;
  width: auto;
}
#footer-wrapper {
  display: flex;
  position: absolute;
  box-shadow: 3px 3px 10px 3px #000000;
  align-items: center;
  justify-content: center;
  gap: 10px;
  max-height: 8vh;
  color: #C3073F;
  padding-top: 2px;
  width: 100%;
}
#githubLogo {
  height: 40px;
  max-height: 90px;
  width: auto;
  padding-top: 7px;
}
.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#add-comment-to-post {
  border: solid;
  width: 60%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #d8d8d8;
  border-radius: 5px;
}
#input-comment-title {
  background-color: #d8d8d8;
}
#name-post {
  height: auto;
  width: 90%;
  background-color: #b1b1b1;
}
#post {
  border: solid;
  width: 90%;
  background-color: #b1b1b1;
}
#textarea-post {
  height: 70%;
  width: 90%;
  resize: none;
  background-color: #b1b1b1;
}
#comments-section-title {
  margin-bottom: 20px;
  color: #d8d8d8;
}
#comment-container-wrapper {
  width: 60%;
  height: auto;
  display: flex;
  margin-bottom: 25px;
  flex-direction: column;
  gap: 20px;
}
#comment-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  border: solid;
  border-radius: 10px;
  background-color: #d8d8d8;
}
#comment-user-and-message-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #d8d8d8;
}
.comment-textbox {
  background-color: #d8d8d8;
}
#comment-username {
  padding-right: 5px;
}
#comment-message {
  padding-bottom: 10px;
}
#comment-time {
  font-size: 15px;
  padding-left: 5px;
}
#submit-comment-button {
  padding: 5px;
  width: 40%;
  border-radius: 5px;
  color:#d8d8d8;
 
}
#submit-comment-button:hover {
  animation-name: cross-fade;
  animation-duration: 0.25s;
  animation-fill-mode: forwards;
}
@keyframes cross-fade {
  0% {color: white; background-color: #1A1a1d;}
  100%  {color: black; background-color:#7a7575;}
}